body {
  background: #ffffff;
}

div.nav {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 110px;
  width: 100%;
  text-align: center;
  background-color: #2a2730;
  overflow: hidden;
  z-index: 99;

  ul.nav {
    list-style: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
    li {
      display: inline-block;
      padding: 20px;
      padding-left: 110px;
      padding-right: 110px;
      a {
        color: #ffffff;
      }
      a .fa-search {
        color: #2a2730;
      }
      a:hover, .fa-search:hover {
        color: #ff0000;
        background: none;
      }
    }
    li.active {
      color: #00CC00;
      background: #ff0000;
    }
    li.active a:hover {
      color: #ffffff;
    }
  }
  .searchbar {
    background: #FFFFFF;
    border-radius: 50px;
    width: 250px;

    input {
      border: none;
      outline: none;
      position: relative;
      top: -17px;
    }
  }
}

.maincontent {
  background: #FFFFFF;
  padding: 15px;
  margin-top: 120px;

  .controls {
    text-align: center;
    i {
      padding: 5px;
    }
    i.fa-minus-circle {
      color: #000000;
    }
    i.fa-minus-circle.full, i.fa-minus-circle:hover {
      color: #ff0000;
    }
    i.fa-star-o {
      color: #000000;
    }
    i.fa-star, i.fa-star-o:hover {
      color: #ffff00;
    }
    i.fa-plus-circle {
      color: #000000;
    }
    i.fa-plus-circle.full, i.fa-plus-circle:hover {
      color: #00CC00;
    }
  }

  .list-container {
    width: 1280px;
    margin: auto;

    .list {
      padding: 0px;

      .item {
        padding: 10px;
        width: 182px;
        height: 302px;
        float: left;

        .image {
          text-align: center;
          height: 180px;
          .fa {
            padding-top: 25%;
          }
        }
        .title {
          font-size: 17px;
          text-align: center;
          height: 70px;
        }
        .platform-list {
          display: none;
          z-index: 99;
          background: #ffffff;
          position: relative;
          bottom: 0px;
          right: 0px;

          ul {
            list-style: none;
            li:hover {
              background: #2a2730;
              color: #ffffff;
            }
            li {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .item-detail {
    text-align: center;

    table {
      margin: auto;
      margin-top: 15px;
      width: 1000px;
    }
  }

  .paginator {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;

    nav {
      margin: auto;
    }
  }

  .welcome {
    .panel-body {
      height: 400px;
    }

    #platformChart {
      position: absolute;
      left: 0px;
      top: 50px;
    }
    #gamesCount {
      position: absolute;
      left: 480px;
      top: 50px;
      .number {
        display: inline-block;
        color: #1976D2;
        font-size: 84px;
        width: 150px;
        text-align: center;
      }
      .number a:hover {
        color: #1976D2;
        text-decoration: none;
      }
      .descriptor {
        display: inline;
        font-size: 45px;
        padding-left: 50px;
      }
    }
    #platformCount {
      position: absolute;
      left: 480px;
      top: 200px;

      .number {
        display: inline-block;
        color: #1976D2;
        font-size: 84px;
        width: 150px;
        text-align: center;
      }
      .descriptor {
        display: inline;
        font-size: 45px;
        padding-left: 50px;
      }
    }
  }
}