body {
  background: #ffffff;
}

.maincontent {
  margin-bottom: 50px;
}

.footer {
  padding: 5px;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.nav {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 110px;
  width: 100%;
  text-align: center;
  background-color: #2a2730;
  overflow: hidden;
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .item {
    i {
      color: #ffffff;
    }
    a .fa-search {
      color: #2a2730;
    }
    i:hover, .fa-search:hover {
      color: #ff0000;
      background: none;
    }
  }

  .active {
    i {
      color: #ff0000;
    }

    i:hover {
      color: #ff0000;
    }
  }
}

.searchbar {
  background: #FFFFFF;
  border-radius: 50px;
  width: 250px;

  input {
    border: none;
    outline: none;
    position: relative;
    top: -17px;
  }
}

.maincontent {
  background: #FFFFFF;
  padding: 15px;
  margin-top: 120px;

  .controls {
    text-align: center;
    i {
      padding: 5px;
    }
    i.fa-minus-circle {
      color: #000000;
    }
    i.fa-minus-circle.full, i.fa-minus-circle:hover {
      color: #ff0000;
    }
    i.fa-star-o {
      color: #000000;
    }
    i.fa-star, i.fa-star-o:hover {
      color: #ffff00;
    }
    i.fa-plus-circle {
      color: #000000;
    }
    i.fa-plus-circle.full, i.fa-plus-circle:hover {
      color: #00CC00;
    }
  }

  .list-container {
    margin: auto;

    .list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0px;
      margin: auto;

      .item {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 182px;
        float: left;
        border: 1px solid #cccccc;
        border-radius: 15px;
        -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
        -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
        box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
        margin: 5px;
        position: relative;
        z-index: 90;

        .ribbon-wrapper-green {
          width: 85px;
          height: 88px;
          overflow: hidden;
          position: absolute;
          top: -1px;
          right: -1px;
        }

        .ribbon-green {
          font: bold 15px Sans-Serif;
          text-align: center;
          -webkit-text-stroke: 0.2px #2a2730;
          -webkit-transform: rotate(45deg);
          -moz-transform:    rotate(45deg);
          -ms-transform:     rotate(45deg);
          -o-transform:      rotate(45deg);
          position: relative;
          padding: 7px 0;
          left: -5px;
          top: 15px;
          width: 120px;
          background: #00CC00;
          color: #fff;
          -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
          -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
          box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
        }

        .ribbon-green:before, .ribbon-green:after {
          content: "";
          border-top:   3px solid #6e8900;
          border-left:  3px solid transparent;
          border-right: 3px solid transparent;
          position:absolute;
          bottom: -3px;
        }

        .image {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 125px;
          height: 125px;
          border-radius: 25px;
          border: 1px solid #2a2730;
          overflow: hidden;
          margin: auto;
          text-align: center;

          .fa {
            color: #2a2730;
          }
          .fa:hover {
            color: #2a2730;
            text-decoration: none;
          }
        }
        .title {
          font-size: 23px;
          text-align: center;
        }
        .platform-list {
          display: none;
          z-index: 99;
          background: #ffffff;
          border: 1px solid #cccccc;
          border-radius: 15px;

          ul {
            list-style: none;
            padding: 10px;
            li:hover {
              background: #2a2730;
              color: #ffffff;
            }
            li {
              cursor: pointer;
            }
          }
        }
      }
      .item.owned {

      }
    }
  }

  .item-detail {
    text-align: center;

    table {
      margin: auto;
      margin-top: 15px;
      width: 1000px;
    }
  }

  .paginator {
    margin: auto;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;

    nav {
      margin: auto;
    }
  }

  .welcome {
    .panel-heading {
      font-size: 45px;
    }
    .graph-panel {
      display: flex;
      justify-content: center;
    }
    .user-stat {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .number {
        color: #1976D2;
        font-size: 84px;
        text-align: center;
      }
      .number a:hover {
        color: #1976D2;
        text-decoration: none;
      }
      .detail {
        color: #1976D2;
        font-size: 18px;
        width: 150px;
        text-align: center;
      }
      .detail a:hover {
        color: #1976D2;
        text-decoration: none;
      }
      .descriptor {
        font-size: 45px;
      }
    }
  }

  .filters-container {
    margin-bottom: 15px;
    .user-game-controls {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      border: 1px solid #cccccc;
      border-radius: 5px;

      .item {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          color: #000000;
          padding: 12px;
        }

        a:hover {
          text-decoration: none;
        }
      }

      .item:hover {
        background: #e8e8e8;
      }

      .item.middle {
        border-left: 1px solid #cccccc;
      }

      .item.active {
        background: #f5f5f5;
      }
    }
  }
}