body {
  background: #ffffff;
}

.maincontent {
  margin-bottom: 50px;
}

div.nav {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 110px;
  width: 100%;
  text-align: center;
  background-color: #2a2730;
  overflow: hidden;
  z-index: 99;

  ul.nav {
    list-style: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
    li {
      display: inline-block;
      padding: 20px;
      padding-left: 110px;
      padding-right: 110px;
      a {
        color: #ffffff;
      }
      a .fa-search {
        color: #2a2730;
      }
      a:hover, .fa-search:hover {
        color: #ff0000;
        background: none;
      }
    }
    li.active {
      color: #00CC00;
      background: #ff0000;
    }
    li.active a:hover {
      color: #ffffff;
    }
  }
  .searchbar {
    background: #FFFFFF;
    border-radius: 50px;
    width: 250px;

    input {
      border: none;
      outline: none;
      position: relative;
      top: -17px;
    }
  }
}

.maincontent {
  background: #FFFFFF;
  padding: 15px;
  margin-top: 120px;

  .controls {
    text-align: center;
    i {
      padding: 5px;
    }
    i.fa-minus-circle {
      color: #000000;
    }
    i.fa-minus-circle.full, i.fa-minus-circle:hover {
      color: #ff0000;
    }
    i.fa-star-o {
      color: #000000;
    }
    i.fa-star, i.fa-star-o:hover {
      color: #ffff00;
    }
    i.fa-plus-circle {
      color: #000000;
    }
    i.fa-plus-circle.full, i.fa-plus-circle:hover {
      color: #00CC00;
    }
  }

  .list-container {
    margin: auto;

    .list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0px;
      margin: auto;

      .item {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 182px;
        float: left;
        border: 1px solid #cccccc;
        border-radius: 15px;
        -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
        -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
        box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
        margin: 5px;
        position: relative;
        z-index: 90;

        .ribbon-wrapper-green {
          width: 85px;
          height: 88px;
          overflow: hidden;
          position: absolute;
          top: -1px;
          right: -1px;
        }

        .ribbon-green {
          font: bold 15px Sans-Serif;
          text-align: center;
          -webkit-text-stroke: 0.2px #2a2730;
          -webkit-transform: rotate(45deg);
          -moz-transform:    rotate(45deg);
          -ms-transform:     rotate(45deg);
          -o-transform:      rotate(45deg);
          position: relative;
          padding: 7px 0;
          left: -5px;
          top: 15px;
          width: 120px;
          background: #00CC00;
          color: #fff;
          -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
          -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
          box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
        }

        .ribbon-green:before, .ribbon-green:after {
          content: "";
          border-top:   3px solid #6e8900;
          border-left:  3px solid transparent;
          border-right: 3px solid transparent;
          position:absolute;
          bottom: -3px;
        }

        .image {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 125px;
          height: 125px;
          border-radius: 25px;
          border: 1px solid #2a2730;
          overflow: hidden;
          margin: auto;
          text-align: center;

          .fa {
            color: #2a2730;
          }
          .fa:hover {
            color: #2a2730;
            text-decoration: none;
          }
        }
        .title {
          font-size: 17px;
          text-align: center;
        }
        .platform-list {
          display: none;
          z-index: 99;
          background: #ffffff;
          border: 1px solid #cccccc;
          border-radius: 15px;

          ul {
            list-style: none;
            padding: 10px;
            li:hover {
              background: #2a2730;
              color: #ffffff;
            }
            li {
              cursor: pointer;
            }
          }
        }
      }
      .item.owned {

      }
    }
  }

  .item-detail {
    text-align: center;

    table {
      margin: auto;
      margin-top: 15px;
      width: 1000px;
    }
  }

  .paginator {
    margin: auto;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;

    nav {
      margin: auto;
    }
  }

  .welcome {
    .panel-body {
      height: 400px;
    }

    #platformChart {
      position: absolute;
      left: 0px;
      top: 50px;
    }
    #gamesCount {
      position: absolute;
      left: 480px;
      top: 50px;
      .number {
        display: inline-block;
        color: #1976D2;
        font-size: 84px;
        width: 150px;
        text-align: center;
      }
      .number a:hover {
        color: #1976D2;
        text-decoration: none;
      }
      .descriptor {
        display: inline;
        font-size: 45px;
        padding-left: 50px;
      }
    }
    #platformCount {
      position: absolute;
      left: 480px;
      top: 200px;

      .number {
        display: inline-block;
        color: #1976D2;
        font-size: 84px;
        width: 150px;
        text-align: center;
      }
      .descriptor {
        display: inline;
        font-size: 45px;
        padding-left: 50px;
      }
    }
  }
}