body {
  background: #ffffff; }

div.nav {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 110px;
  width: 100%;
  text-align: center;
  background-color: #2a2730;
  overflow: hidden;
  z-index: 99; }
  div.nav ul.nav {
    list-style: none;
    width: 100%;
    margin: 0px;
    padding: 0px; }
    div.nav ul.nav li {
      display: inline-block;
      padding: 20px;
      padding-left: 110px;
      padding-right: 110px; }
      div.nav ul.nav li a {
        color: #ffffff; }
      div.nav ul.nav li a .fa-search {
        color: #2a2730; }
      div.nav ul.nav li a:hover, div.nav ul.nav li .fa-search:hover {
        color: #ff0000;
        background: none; }
    div.nav ul.nav li.active {
      color: #00CC00;
      background: #ff0000; }
    div.nav ul.nav li.active a:hover {
      color: #ffffff; }
  div.nav .searchbar {
    background: #FFFFFF;
    border-radius: 50px;
    width: 250px; }
    div.nav .searchbar input {
      border: none;
      outline: none;
      position: relative;
      top: -17px; }

.maincontent {
  background: #FFFFFF;
  padding: 15px;
  margin-top: 120px; }
  .maincontent .controls {
    text-align: center; }
    .maincontent .controls i {
      padding: 5px; }
    .maincontent .controls i.fa-minus-circle {
      color: #000000; }
    .maincontent .controls i.fa-minus-circle.full, .maincontent .controls i.fa-minus-circle:hover {
      color: #ff0000; }
    .maincontent .controls i.fa-star-o {
      color: #000000; }
    .maincontent .controls i.fa-star, .maincontent .controls i.fa-star-o:hover {
      color: #ffff00; }
    .maincontent .controls i.fa-plus-circle {
      color: #000000; }
    .maincontent .controls i.fa-plus-circle.full, .maincontent .controls i.fa-plus-circle:hover {
      color: #00CC00; }
  .maincontent .list-container {
    margin: auto; }
    .maincontent .list-container .list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0px;
      margin: auto; }
      .maincontent .list-container .list .item {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 182px;
        float: left;
        border: 1px solid #cccccc;
        border-radius: 15px;
        -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
        margin: 5px;
        position: relative;
        z-index: 90; }
        .maincontent .list-container .list .item .ribbon-wrapper-green {
          width: 85px;
          height: 88px;
          overflow: hidden;
          position: absolute;
          top: -1px;
          right: -1px; }
        .maincontent .list-container .list .item .ribbon-green {
          font: bold 15px Sans-Serif;
          text-align: center;
          -webkit-text-stroke: 0.2px #2a2730;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          position: relative;
          padding: 7px 0;
          left: -5px;
          top: 15px;
          width: 120px;
          background: #00CC00;
          color: #fff;
          -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3); }
        .maincontent .list-container .list .item .ribbon-green:before, .maincontent .list-container .list .item .ribbon-green:after {
          content: "";
          border-top: 3px solid #6e8900;
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
          position: absolute;
          bottom: -3px; }
        .maincontent .list-container .list .item .image {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 125px;
          height: 125px;
          border-radius: 25px;
          border: 1px solid #2a2730;
          overflow: hidden;
          margin: auto;
          text-align: center; }
          .maincontent .list-container .list .item .image .fa {
            color: #2a2730; }
          .maincontent .list-container .list .item .image .fa:hover {
            color: #2a2730;
            text-decoration: none; }
        .maincontent .list-container .list .item .title {
          font-size: 17px;
          text-align: center; }
        .maincontent .list-container .list .item .platform-list {
          display: none;
          z-index: 99;
          background: #ffffff;
          position: relative;
          bottom: 0px;
          right: 0px; }
          .maincontent .list-container .list .item .platform-list ul {
            list-style: none; }
            .maincontent .list-container .list .item .platform-list ul li:hover {
              background: #2a2730;
              color: #ffffff; }
            .maincontent .list-container .list .item .platform-list ul li {
              cursor: pointer; }
  .maincontent .item-detail {
    text-align: center; }
    .maincontent .item-detail table {
      margin: auto;
      margin-top: 15px;
      width: 1000px; }
  .maincontent .paginator {
    margin: auto;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center; }
    .maincontent .paginator nav {
      margin: auto; }
  .maincontent .welcome .panel-body {
    height: 400px; }
  .maincontent .welcome #platformChart {
    position: absolute;
    left: 0px;
    top: 50px; }
  .maincontent .welcome #gamesCount {
    position: absolute;
    left: 480px;
    top: 50px; }
    .maincontent .welcome #gamesCount .number {
      display: inline-block;
      color: #1976D2;
      font-size: 84px;
      width: 150px;
      text-align: center; }
    .maincontent .welcome #gamesCount .number a:hover {
      color: #1976D2;
      text-decoration: none; }
    .maincontent .welcome #gamesCount .descriptor {
      display: inline;
      font-size: 45px;
      padding-left: 50px; }
  .maincontent .welcome #platformCount {
    position: absolute;
    left: 480px;
    top: 200px; }
    .maincontent .welcome #platformCount .number {
      display: inline-block;
      color: #1976D2;
      font-size: 84px;
      width: 150px;
      text-align: center; }
    .maincontent .welcome #platformCount .descriptor {
      display: inline;
      font-size: 45px;
      padding-left: 50px; }

/*# sourceMappingURL=main.css.map */
